

/** clearfix for position:sticky **/
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}


/** Looping Background Video **/

.looping-background-video{
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6); 	/* shade over video for foreground-background separation */
	color: #fff; 						/* make text color white */
}

.looping-background-video video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100vh;
	z-index: -100;
	@media (min-aspect-ratio:16/9){
		width: 100vw;
		height: auto;
	}
}


/** Sticky for scrollytelling layout **/
[data-sticky-graphic] {
	top: 35%;
}

/** Custom CSS **/
body {
	background: #222;
}

.info {
	opacity: 0;
	transition: opacity 0.5s;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.instax-card {
	opacity: 0;
	perspective: 1000px;
}
.instax-wrapper {
	position: relative;
	transition: transform 0.5s;
}
.instax-wrapper:hover {
	transform: rotateY(15deg);
}
.instax-wrapper:hover .info {
	opacity: 0.7;
}
.instax-card img {
	margin: auto;
	width: 100%;
}
.instax-card .flash, .instax-card .info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.instax-card .flash {
	background: white;
}

.instax-card .info {
	background: black;
}

/*
#content-modal .modal-content {
	background: #222;
}
*/

.modal-body img {
	max-width: 100%;
}

.pic-flex {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.pic-flex img {
	flex: 0 0 50%;
	max-width: calc(50% - 10px);
	margin-top: 20px;
}

